@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
  margin: 0;
  transition-timing-function: ease-in-out;
}
.det, .det1{
  display: flex;
  gap: 5px;
  align-content: end;
}
.details{
  padding: 20px;
}
.toggle{
  justify-self: end;
  display: flex;
  
  cursor:pointer;
  align-content: end;
  align-items: center;
  align-self: end;
  gap: 10px;
}

.navbar{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  justify-content: space-between;
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}
.filter{
  position: fixed;
    top: 130px;
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 50px;
}
.toggle:hover{
  font-size: 18px;
}
.filt{
  padding: 50px;
}
.filter{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.menu{
  justify-self: end;
}
.countries{
  padding-top: 180px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-column-gap: 2%;
  grid-row-gap: 0.1% ;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}
.country{
  width: 100%;
  height: 400px;
  justify-self: start;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  border-radius: 0.5cm;
  box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);

}
.country h5{
  font-size: 15px;
}
.country:hover{
  cursor: pointer;
  border: 2px;
  border-color: blanchedalmond;
  border-style: solid;
}
.flag{
  border-top-left-radius: 0.5cm;
  border-top-right-radius: 0.5cm;
  height: 200px;
  width: 100%;
}
.flag2{
  width: 95%;
  box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
}
.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  animation-name: anime; 
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode:  backwards;
  align-content: end;
  align-items: end;
  padding-top: 200px;
}
.bout{
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.bout-name{
  padding-bottom: 5px;
}
.domain{
  align-self: center;
}
.my-suggestions-list{
  list-style: none;
  
}
.my-suggestions-container {
  position: absolute; /* Position suggestions absolutely */
  z-index: 9999; /* Set a high z-index to ensure it appears on top */
  background-color: gainsboro;
  color: black;
  width: 32%; /* Adjust width as needed */
  border-radius: 4px; /* Add border radius for rounded corners */
}

.my-suggestions-list {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  max-height: 200px; /* Set max height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

.my-suggestion {
  
  padding: 8px 16px; /* Add padding to suggestions for better readability */
  cursor: pointer; /* Add pointer cursor for hover effect */
}

/* Adjust other styles as needed */

.my-suggestions-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  margin: 2px;
  z-index: -100;
}
.my-suggestion{
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
  
}
input{
  width: 70%;
}
.name:hover{
  cursor: pointer;
  color: red
}
@media(max-width:1120px){
  .flag2{
    width: 90%;
  }
  .det, .det h5{
    font-size: 15px;
  }
  .bout{
    align-self: self-end;
  }
  .bout-name{
    font-size: 18px;
  }
}
@media(max-width:1000px){
  .countries{
    grid-template-columns: 30% 30% 30%;
    
  }
}
@media(max-width:900px){
  .flag2{
    width: 90%;
  }
  .det, .det h5{
    font-size: 14px;
  }
  .bout{
    align-self: self-end;
  }
  .bout-name{
    font-size: 15px;
  }
}
@media(max-width:750px){
  .det, .det h5{
    font-size: 13px;
  }
  .bout{
    align-self: self-end;
  }
  .bout-name{
    font-size: 14px;
  }
  .countries{
    grid-column-gap: 5%;
    grid-row-gap: 0.05% ;
    grid-template-columns: 32% 32% 32%;
  }
  .navbar h3{
    font-size: 19px;
  }
  .navbar h4{
    font-size: 17px;

  }
}
@media(max-width:700px){
  .countries{
    grid-template-columns: repeat(2,1fr);  
    grid-column-gap: 5%;
    grid-row-gap: 0.05% ;
  }
  .country{
    height: 300px;
    
  }
  .country h5{
    font-size: 12px;
  }
  .flag{
    height: 150px;
  }
  .det, .det h5{
    font-size: 12px;
  }
  .bout{
    align-self: self-end;
  }
  .bout-name{
    font-size: 12px;
  }
  .navbar h3{
    font-size: 17px;
  }
  .navbar h4{
    font-size: 15px;

  }
}
@media(max-width:609px){
  .countries{
    justify-content: center;
    grid-template-columns: 95%;  
    grid-column-gap: 5%;
    grid-row-gap: 0.05% ;
  }
  .country{
    height: 450px;
    
  }
  .details{
    padding: 30px;
  }
  .country h5,.country{
    font-size: 20px;
  }
  .flag{
    height: 200px;
  }
  .filter{
    grid-row-gap: 20px;
    grid-template-columns: 95%;
    justify-content: center;

  }
  form, .menu{
    grid-column: span;
    justify-self: stretch;
    
    width: 100%;
    grid-column:1/2
  }
  input{
    width: 100%;
  }
  .drop{
    width: 100%;
  }
  .about,.bout{
    grid-template-columns: 90%;
    grid-row-gap: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .flag2{
    width: 100%;
  }
  .navbar h3{
    font-size: 15px;
  }
  .navbar h4.country h5{
    font-size: 13px;

  }
  .filt{
    padding: 10px;
  
    grid-row-gap: 20px;
    grid-template-columns: 99%;
    justify-content: center;
  
}
.navbar{
  padding: 10px;
}
.countries{
  padding-top: 15px;
}
.my-suggestions-container {
  
  width: 92%; /* Adjust width as needed */
  
}
.navbar h4,.country h5{
  font-size: 13px;

}
.filter{
  position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 10px;
}
.countries{
  width: 100%;
  padding: 10px;
  padding-top: 150px;
}
.about{
  padding-top: 100px;
}
}
@media(max-width:420px){
  .country h5,.country{
    font-size: 15px;
  }
  .country{
    height: 370px;
    
  }
  .navbar h3{
    font-size: 13px;
  }
  .navbar h4{
    font-size: 11px;
}
.navbar h4, .country h5{
  font-size: 11px;
}
.my-suggestions-container {
  
  width: 88%; /* Adjust width as needed */
  
}
}

@media(max-width:350px){
  .country h5,.country{
    font-size: 11px;
  }
  .navbar h3{
    font-size: 11px;
  }
  .navbar h4{
    font-size: 11px;
}
.countries{
  padding-top: 20px;
}
.filt{
  padding: 20px;

  grid-row-gap: 20px;
  grid-template-columns: 99%;
  justify-content: center;

}
.det h5{
  font-size: 10px;
}
.my-suggestions-container {
  
  width: 80%; /* Adjust width as needed */
  
}
.country{
  height: 350px;
}
.filter{
  position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 10px;
}
.countries{
  width: 100%;
  padding: 10px;
  padding-top: 120px;
}
}

@keyframes anime {
  from{transform: translateX(-1200px)}
  to{transform: translateX(0px)}
}